.bannerContent > img {
    
    height: 350px;
    object-fit: cover;


}

.resumo > p {
    height: 210px;
    margin-bottom: 0rem;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}


.swiper {
    height: 525px;
}
.swiper-slide { 
    width: 30%;
} 
