main > div > div > p {
    text-indent: 3em;
    margin-bottom: 0.25em;
}

div > div > span {
    display: block;
    margin-top: 10px;
}


.banner > img {
    height: 100%;
    width: 35%;
    object-fit: cover;
    
}